h1{
    font-weight: 700;
    font-size: 45px;
    margin:20px ;
}

input{
    width:100%;
}
.items-container{
    text-align: left;
}
.nrow{
    margin: 10px 5px;
}
.my-btn{
    min-width: 80px;
}
#welcome{
    font-size: larger;
    font-weight: bolder;
    margin-top: 50px;
    
}